* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titleBar li {
  float: left;
}
.titleBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #19323C;
}

.titleBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #111;
}

.titleBar li a:hover {
  background-color: #111;
}

#projectList {
  background-color: orange;
  padding: 40px;
}

body {
  background-color: #E6E6EA;
  font-family: monospace;
}

.catFlexContainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background: darkblue;
  padding: 20px;
  flex-wrap: wrap;
}

.images {
  width: 300px;
  height: auto;
}
